python=/usr/bin/python3
unsafe-perm=true
node-linker=hoisted
legacy-peer-deps=true
build-from-source=true
strict-ssl=false
progress=false
save-exact=true
python-mirror=https://www.python.org/ftp/python
node-gyp-force-python=/usr/bin/python3 